<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847651369571-7jjt8mpglrfam9kihdkp3v5cms6fnt45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847651369571-7jjt8mpglrfam9kihdkp3v5cms6fnt45</string>
	<key>API_KEY</key>
	<string>AIzaSyDrn10tIgsnURDcTbd3gbvC_EK11ZjZ1Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>847651369571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhirenjin.NXWorkspace</string>
	<key>PROJECT_ID</key>
	<string>nxworkplace</string>
	<key>STORAGE_BUCKET</key>
	<string>nxworkplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847651369571:ios:530aa37994402867</string>
	<key>DATABASE_URL</key>
	<string>https://nxworkplace.firebaseio.com</string>
</dict>
</plist>